:root {
  --logo-button-blue-color: #4d5ae5;
  --hero-color-navy: #2e2f42;
  --hero-font: Roboto, sans-serif;
  --content-color: #434455;
  --focus-hover-color: #404bbf;
  --light-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--content-color);
  background-color: var(--light-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-button-blue-color);
}

.link {
  text-decoration: none;
  list-style: none;
  color: var(--content-color);
}

.logo-studio-dark {
  color: var(--content-color);
}

.logo-studio-white {
  font-family: ;
  color: #f4f4f4fd;
}

.buton {
  cursor: pointer;
  font-family: var(--hero-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-button-blue-color);
  background-color: #F4F4FD;

}

.buton:hover {
  color: var(--light-color);
  background-color: var(--focus-hover-color);
}

.boton:focus {
  color: var(--light-color);
  background-color: var(--focus-hover-color);
}

.adress-section {
  font-style: normal;
}

.contacts-mail {
  color: var(--content-color) font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.02em
}

.contacts-tel {
  color: var(--content-color) font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.02em
}


.contacts-mail:hover {
  color: var(--focus-hover-color)
}

.contacts-mail:focus {
  color: var(--focus-hover-color)
}

.contacts-tel:hover {
  color: var(--focus-hover-color)
}

.contacts-tel:focus {
  color: var(--focus-hover-color)
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hero-color-navy);
}

.list-studio:hover {
  color: var(--focus-hover-color)
}

.list-studio:focus {
  color: var(--focus-hover-color)
}

.list-portfolio:hover {
  color: var(--focus-hover-color)
}

.list-portfolio:focus {
  color: var(--focus-hover-color)
}

.list-contacts:hover {
  color: var(--focus-hover-color)
}

.list-contacts:focus {
  color: var(--focus-hover-color)
}

.section-1 {
  background-color: var(--hero-color-navy);
}

.section-1-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-color);
}

.order-button {
  background-color: var(--logo-button-blue-color);
  font-family: var(--hero-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-color);
  cursor: pointer;
}

.order-button:hover {
  background-color: var(--focus-hover-color);
}

.order-button:focus {
  background-color: var(--focus-hover-color);
}

.section-2-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-color-navy);
}

.section-2-list-paragraf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--content-color);
}

.section-3-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-color-navy)
}

.section-4-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-color-navy)
}

.section-4 {
  background-color: #F4F4FD;
}

.list-title {
  background-color: var(--light-color);
}

.footer-section {
  background-color: var(--hero-color-navy);
  font-weight: 800px;
  font-size: 18px;
  line-height: 1.17px;


}

.footer-paragraf {
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;

}

content-section-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-color-navy);
}

.content-section-paragraf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--content-color)
}